process{
    withName:ORTHOFINDER {
        container = 'davidemms/orthofinder'
    }
    withName:EGGNOGMAPPER {
        container = 'c007a4cbf0280db407554d5ed5377e94940ebf59452706ea6d736fbe45c56cbb'
        cpus = 6
    }
    withName:TREEGRAFTER {
        cpus = 6
    }
}
docker {
    enabled = true
}
